.navigation__bar {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  background-color: #fff;
  left: 0;
  right: 0;
  box-shadow: 8px -4px 16px -4px rgb(0 0 0 / 20%);
  :global .inner__bar {
    display: flex;
  }
}
