.wrapper {
  :global {
    .post-bredcrumb {
      .breadcrumb {
        text-align: center;
      }
    }
    .post-container {
      padding: 30px;
      margin-left: auto;
      margin-right: auto;
      background-color: #fff;
      border-radius: 20px;
    }
    .single-post {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
    .box {
      padding: 10px;
    }
    .post-list {
      display: flex;
      flex-wrap: wrap;
      margin-left: -10px;
      margin-right: -10px;
    }
    .post-item {
      width: 33.33%;
      .title {
        font-weight: 400;
        font-size: 16px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 44px;
        line-height: 22px;
        -webkit-line-clamp: 2;
        margin-bottom: 10px;
        cursor: pointer;
        a {
          color: #3962c2;
          font-family: 'Product-Sans';
        }
      }
      .excerpt {
        font-weight: 400;
        font-size: 14px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 54px;
        line-height: 18px;
        -webkit-line-clamp: 3;
        margin-bottom: 10px;
      }
    }
    .thumbnail {
      margin-bottom: 10px;
    }
    .no-image {
      position: relative;
      background-color: #f1f1f1;
      padding-top: 50%;
      display: flex;
      .inner-no-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }
  }
}
