@use 'foundation/variables' as *;

.ec_header {
  :global {
    position: relative;
    z-index: 99;
    background-color: $bg-white;

    .header-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .header-logo {
      width: 220px;
      margin-right: 60px;
      line-height: 0;
      height: 60px;
      display: inline-flex;
      align-items: center;
      a {
        display: block;
      }
      @media screen and (max-width: 991px) {
        margin-left: auto;
        margin-right: auto;
        // margin-bottom: 15px;
      }
    }
    .header-top {
      background: linear-gradient(to right, #fec400 40%, #ffd800);
      padding: 20px 0;
      input {
        width: 100%;
      }
      @media screen and (max-width: 991px) {
        height: 220px;
        background: linear-gradient(to bottom, #fec400 60%, transparent);
      }
    }

    .header-cart,
    .header-shipping,
    .header-notify,
    .header-account {
      min-width: 40px;
      height: 40px;
      border-radius: 40px;
      position: relative;
      background-color: $bg-white;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      a {
        color: $grey-color;
        display: inline-flex;
        position: relative;
        padding: 10px;
      }
      .ec_icon {
        line-height: 0;
        margin-right: 0;
      }
    }
    .header-cart {
      .cart_count {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        line-height: 20px;
        text-align: center;
        background-color: $bg-primary;
        font-size: 10px;
        margin-left: 5px;
      }
    }

    .header-search {
      flex: 1;
      padding-right: 30px;
      @media screen and (max-width: 991px) {
        padding-right: 0;
      }
      :global .ui.input {
        width: 100%;
        border-width: 0px;
        height: 45px;
        input {
          border-radius: 5px;
          border-color: transparent;
        }
      }
    }

    .header-category {
      color: $grey-color;
      display: flex;
      align-items: center;
      font-weight: bold;
      margin-right: 30px;
      cursor: pointer;

      .item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        white-space: nowrap;
        border-radius: 5px;
        &:hover {
          background-color: #f4f8ff;
        }
      }
      .ec_icon {
        background-color: $bg-white;
        padding: 8px;
        margin-right: 5px;
        line-height: 0;
        border-radius: 30px;
        line-height: 0;
        display: inline-block;
      }
      &.active {
        .item {
          background-color: #f4f8ff;
        }
      }
    }
    .header-promo {
      margin-right: 30px;
      .item {
        display: inline-block;
        color: #000;
      }
    }
  }
}

.menu_items,
.menu_child {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

.ec_header_bottom {
  :global {
    box-shadow: 0px 10px 15px -6px rgb(0 0 0 / 15%);
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    .row-navigation {
      display: flex;
      align-items: center;
    }
    .ec__cat--link {
      display: flex;
      align-items: center;
      color: $grey-color;
      font-weight: bold;
      padding: 5px 10px;
      border-radius: 5px;
      &:hover {
        background-color: #f4f8ff;
      }
      .sub--text {
        flex: 1;
        height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        span {
          display: block;
        }
      }
      .ec__cat--thumbnail {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin-right: 10px;
        padding: 5px;
        box-sizing: border-box;
        background: #fff;
      }
    }
    .swipe-control {
      .swipe-buttons {
        display: flex;
      }
      .button {
        cursor: pointer;
        display: inline-block;
        line-height: 0;
        background: #f4f8ff;
        border-radius: 30px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .button + .button {
        margin-left: 10px;
      }
    }
  }
}
.navigation {
  :global {
    position: relative;
    .navigation-wrapper {
      background-color: #fff;
      padding: 30px 0;
      height: 100%;
      position: relative;
      z-index: 98;
      .container {
        height: 100%;
      }
    }
    .navigation-items {
      display: flex;
      height: 100%;
    }
    .menu-col-right {
      flex: 1;
      height: 100%;
      padding-left: 30px;
      overflow-y: auto;
      .menu-col-header {
        padding: 20px 0;
        margin-bottom: 20px;
        border-bottom: 1px solid #f1f1f1;
        h3 {
          font-size: 24px;
        }
      }
      .menu-col-body {
      }
      .menu-sub-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-left: -10px;
        margin-right: -10px;
        .sub-menu-item {
          width: 33.33%;
          padding-left: 10px;
          padding-right: 10px;
          .inner-sub-item {
            background-color: #fff;
            border-radius: 10px;
            &:hover {
              background-color: #f4f8ff;
              padding-left: 15px;
            }
          }
          .menu-name {
            margin-bottom: 5px;
          }
          .menu-btn-view {
            color: #007aff;
            font-size: 12px;
          }
          a {
            display: inline-block;
            padding: 15px 0;
            cursor: pointer;
            font-size: 16px;
            color: #232323;
          }
        }
      }
    }
    .menu-col-left {
      width: 120px;
      text-align: center;
      height: 100%;
      overflow-y: auto;
      padding: 5px;
      background-color: #f4f8ff;
      border-radius: 5px;
      .menu-item {
        width: 100%;
      }
      .menu-name {
        font-size: 12px;
      }
      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #f1f1f1;
      }

      &::-webkit-scrollbar {
        width: 6px;
        background-color: #f1f1f1;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 6px;

        background-color: #dbdbdb;
      }
    }
    .menu-item {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 5px;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 10px;
      &.active {
        background-color: #fff;
      }
    }
    .menu-thumb {
      width: 30px;
      height: 30px;
      margin-bottom: 10px;
    }
  }
}
.ec_header_actions {
  display: flex;
  align-items: center;
  :global div + div {
    margin-left: 15px;
  }
}
.ec_header_acount {
  :global .user--dropdown {
    background-color: #fff;
    position: absolute;
    top: 100%;
    right: 0;
    width: 220px;
    border-radius: 10px;
    z-index: 2;
    box-shadow: 0px 10px 15px -6px rgb(0 0 0 / 15%);
    overflow: hidden;
    opacity: 0;
    display: none;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        text-align: left;
        svg {
          margin-right: 10px;
        }
        a {
          display: flex;
          font-weight: bold;
          padding: 15px 20px;
          &:hover {
            background-color: #f4f8ff;
          }
        }
        &:last-child {
          border-top: 1px solid #f4f8ff;
          button {
            display: flex;
            padding: 15px 20px;
            align-items: center;
            width: 100%;
          }
        }
      }
    }
  }
  &:hover {
    :global .user--dropdown {
      display: block;
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}
