@use './foundation/variables' as *;

.ec__pagination{
    &--items{
        display: flex;
        list-style-type: none;
        padding-block-start: 0;
        padding-inline-start: 0;
        justify-content: center;
    }

    &--item{
        display: inline-block;
        width: 36px;
        height: 36px;
        border: 1px solid transparent;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        cursor: pointer;
        border-radius: 5px;
        &.active{
            background-color: #C93939;;
            color: #fff;
        }

        &.next, &.prev{
            border-color: #C93939;
        }
    }
  
    &--item + &--item{
        margin-left: 10px;
    }
}