@use './foundation/variables' as *;

.ec__pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    &.is-between{
        justify-content: space-between;
    }

    &.right{
        flex-direction: row;
        .ec__pagination--inner{
            justify-content: flex-end;
        }
    }
    &.left{
        flex-direction: row-reverse;
        .ec__pagination--inner{
            justify-content: flex-start;
        }
    }
    &.is-loading{
        .ec__pagination--item{
            &.active{
                opacity: 0.5;
            }
        }
    }
    &--inner{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &--items{
        display: flex;
        list-style-type: none;
        justify-content: center;
        margin: 0 10px;
        box-shadow: 0px 0px 12px rgb(0 0 0 / 6%);
        background-color: #fff;
        border-radius: 60px;
        padding: 5px;
    }

    &--item{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        background-color: transparent;
        font-size: 13px;
        border-radius: 50%;
        border: 1px solid transparent;
        &.active{
            background-color: #4167c3;
            color: #fff;
            pointer-events: none;
        }
        &:not(.active,.dot):hover {
            background-color: #f4f8ff;
            cursor: pointer;

        }
    }
    &--item + &--item{
        margin-left: 5px;
    }
}