.quantity{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    .quantity__form{
        display: flex;
        align-items: center;
        justify-content: center;
        .increase, 
        .decrease
        {
            width: 40px;
            height: 40px;
            border: 1px solid #f1f1f1;
            text-align: center;
            line-height: 40px;
            cursor: pointer;
            border-radius: 5px;
            
        }
        .number{
            width: 80px;
            margin-left: 5px;
            margin-right: 5px;
            border: 1px solid #f1f1f1;
            text-align: center;
            height: 40px;
            line-height: 40px;
            border-radius: 5px;
        }
    }

    &.small{
        .number{
            width: 60px;
            margin-left: 3px;
            margin-right: 3px;
            height: 30px;
            line-height: 30px;
            border-radius: 5px;
            font-size: 13px;

        }
        .increase, 
        .decrease
        {
            width: 30px;
            height: 30px;
            border: 1px solid #f1f1f1;
            text-align: center;
            line-height: 28px;
            cursor: pointer;
            border-radius: 5px;
            
        }
    }
}