.ec__product {
  :global {
    display: flex;
    .tool-header {
      background-color: #fff;
      display: flex;
      padding: 10px;
      margin-right: 10px;
      border-radius: 5px;
      .icon {
        line-height: 1;
        display: inline-block;
        margin-right: 10px;
      }
      .name {
        font-weight: bold;
      }
    }
    .tool-body {
      display: flex;
      align-items: center;
      flex: 1;
    }

    .attr-item {
      position: relative;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
      .attr-name {
        font-weight: bold;
        font-size: 14px;
      }
      .attr-top {
        padding: 10px 15px;
        background-color: #fff;
        border-radius: 5px;
        .name {
          margin-right: 20px;
        }
        .icon {
          line-height: 0;
          display: inline-block;
        }
      }
      .attr-options {
        position: absolute;
        background-color: #fff;
        width: 220px;
        padding: 15px;
        left: 0;
        z-index: 90;
        .term-item {
          display: inline-block;
          padding: 5px 10px;
          border: 1px solid #f1f1f1;
          border-radius: 2px;
          margin-bottom: 10px;
          white-space: nowrap;
          position: relative;
          font-size: 13px;
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .term-text {
        flex: 1;
        padding-left: 10px;
      }
      .ec__term {
        padding: 5px;
        cursor: pointer;
      }
    }
  }
}
