.cart__wrapper{
    background-color: #fff;
    padding: 20px;
    margin-top: 60px;
    border-radius: 20px;

    :global .cart-body{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .cart__empty{
            text-align: center;
            .image{
                width: 150px;
                margin: auto;
            }
            .title{
                font-weight: bold;
                font-size: 1.2rem;
                margin-bottom: 0;
            }
            .sub{
                font-size: 13px;
            }
            button{
                box-shadow: none;
            }
        }
        .cart-left{
            flex-basis: calc(100% - 320px);
            width: calc(100% - 320px);
            padding-right: 30px;
            .table.cart{
                display: table;
                width: 100%;
                border: 1px solid #f1f1f1;
                padding: 15px 20px;
                border-radius: 10px;
                table{
                    width: 100%;
                }
                .product__item{
                    display: flex;
                    margin-bottom: 15px;
                    padding: 15px 0;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid #f4f8ff;
                }
                .product__item:last-of-type{
                    margin-bottom: 0;
             
                    border-bottom-width: 0;
                }
                .product__name{
                    width: 40%;
                    display: flex;
                    
                }
                .product__image{
                    display: inline-block;
                    width: 40px;
                }
                .product__content{
                    flex: 1;
                    padding-left: 15px;
                    .name{
                        margin-bottom: 5px;
                        line-height: 1.2;
                        font-size: 13px;
                    }
                    .price{
                        margin-bottom: 0;
                        font-size: 13px;
                        opacity: 0.8;
                    }
                }
                .product__quantity{
                    padding-left: 40px;
           
                }
                .product__subtotal{
                    padding-left: 40px;
                    flex: 1;
                }
                .product__action{
                    
                }
                .btn-remove{
                    cursor: pointer;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #f4f8ff;
                    border-radius: 50%;
                }
            }
        
            .cart-table-row{
                display: table-row;
                width: 100%;
                .quantity{
                    text-align: center;
                }
                > .image{
                    width: 100px;
                    img{
                        border-radius: 50%;
                        border: 1px solid #f1f1f1;
                        padding: 5px
                    }
                }
                .name{
                    width: 240px;
                }
                .quantity{
                    width: 90px;
                }
                .subtotal{
                    text-align: right;
                    p{
                        color: inherit ;
                    }
                }
                >div{
                    display: table-cell;
                    vertical-align: top;
                    padding: 10px 15px
                }
                &.header{
                    background-color: #f1f1f1;
                    > div{
                        font-weight: bold;
                    }
                }

             
            }
       
                .price.regular.del{
                    text-decoration: line-through;
                    opacity: 0.6;
                }
                .price.regular:not(.del),
                .price.sale{
                    color: #c83a3a
                }
               
            
        }
        .cart-right{
            width: 320px;
            
        }
        .cart__promotion{
          
            padding: 15px;
            border-radius: 10px;
            margin-bottom: 15px;
            background-color:  #d5ecff;
            .cart__promotion--form{
                label{
                    margin-bottom: 10px;
                    display: inline-block;
                    font-weight: bold;
                }
            }
            .promotion__control{
                position: relative;
                display: flex;
                input{
                    flex: 1;
                   border: 1px solid #3e57b9;
                   height: 45px;
                   border-right-width: 0;
                   border-top-left-radius: 5px;
                   border-bottom-left-radius: 5px;
                   padding: 5px 15px
                }
                input:focus,
                input:focus-visible{
                    outline-offset: 0;
                    outline-width: 0;
                    border-color: #3c5dbd;
                }
                button{
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    box-shadow: none;
                    font-size: 13px;
                }
            }
        }
        .cart__summary{
            border: 1px solid #f1f1f1;
            padding: 15px;
            border-radius: 10px;
            .line{
                height: 1px;
                background-color: #c8c8c8;

                display: block;
               margin: 10px auto;
            }
            .subtotal, .discount, .total{
                display: flex;
                justify-content: space-between;
                padding: 10px 0;
                p{
                    margin-bottom: 0;
                }
            }
            .discount{
                .code{
                    font-size: 12px;
                    color: green;
                    padding: 5px 10px;
                    border-radius: 5px;
                }
                &.valid{
                    .discount-value{
                        color: green
                    }
                }
            }
            .total{
                font-weight: bold;
                margin-bottom: 20px;
                .total-value{
                    color: #c9393a
                }
            }
        }
        .cart-actions{
            button{
                width: 100%;
            }
           
        }
        .cart__promotion--code{
            .item-code{
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                padding: 5px 5px 5px 15px;
                background-color: #fff;
                border-radius: 30px;
                .code{
                    font-weight: bold;
                }
                .btn-remove{
                    color: #0000008f;
                    font-size: 12px;
                    cursor: pointer;
                    padding: 5px;
                    background-color: #f4f8ff;
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

}