@use 'foundation/slide';
@use 'components/card';
@use 'components/pagination';
@use 'components/formControl';
@use 'components/button';
@use 'components/productSlide';
@use 'components/inputRange';
@use 'components/sliderRange';
@use 'components/modal';
@use 'components/quantity';
@use 'components/bookingStep';
@use 'components/bookingSummary';

@use 'foundation/variables' as *;
@font-face {
    font-family: Product-Sans;
    src: url('/assets/fonts/googleSans/Product-Sans-Regular.ttf'),  url('/assets/fonts/googleSans/Product-Sans-Regular.otf');
  }
@font-face {
    font-family: Product-Sans;
    src: url('/assets/fonts/googleSans/Product-Sans-Bold.ttf'), url('/assets/fonts/googleSans/Product-Sans-Bold.otf');
    font-weight: bold;
  }
  @font-face {
    font-family: Product-Sans;
    src: url('/assets/fonts/googleSans/Product-Sans-Italic.ttf'), url('/assets/fonts/googleSans/Product-Sans-Italic.otf');
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: Product-Sans;
    src: url('/assets/fonts/googleSans/Product-Sans-Bold-Italic.ttf'),url('/assets/fonts/googleSans/Product-Sans-Bold-Italic.otf') ;
    font-weight: bold;
    font-style: italic;
  }

body{
  font-family: Product-Sans;
  background-color: #f4f8ff;
}
body.fixed{
  overflow: hidden;
}
a{
  color: #3a62c1
}

.ec__breadcrumb{
  padding-top: 20px;
  padding-bottom: 20px;
  .bread-item{
    padding-top: 10px;
    padding-bottom: 10px;
    
  }
  .bread-space{
    margin-left: 5px;
    margin-right: 5px;
  }
}
.ec__icon{
  line-height: 0;
  margin-right: 5px;
}
button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px 15px
}
.section-product{
  margin-bottom: 30px;
  .container{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;

  }
  .section-header{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
      margin-left: auto;
    }
    .header{
      margin-bottom: 0;
    }
  }
  .section-products{
    padding-bottom: 30px;
  }
}
img{
  max-width: 100%;
}
.box.order{
  position: relative;
  border: 1px solid #f1f1f1;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.box-header{
  font-weight: bold;
  margin-bottom: 20px;
}
.box-body{
  .order-status{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;

  }
  .items-count, .total-price, .payment-type{
    margin-bottom: 10px;
    .label{
      width: 180px;
      display: inline-block;
    }
  }
}
.error-message{
  font-size: 12px;
  padding: 5px 0;
  color: #d70000
}