@use 'foundation/slide';
@use 'components/card';
@use 'components/pagination';
@use 'components/formControl';
@use 'components/button';

@font-face {
    font-family: Product-Sans;
    src: url('/assets/fonts/googleSans/Product-Sans-Regular.ttf'),  url('/assets/fonts/googleSans/Product-Sans-Regular.otf');
  }
@font-face {
    font-family: Product-Sans;
    src: url('/assets/fonts/googleSans/Product-Sans-Bold.ttf'), url('/assets/fonts/googleSans/Product-Sans-Bold.otf');
    font-weight: bold;
  }
  @font-face {
    font-family: Product-Sans;
    src: url('/assets/fonts/googleSans/Product-Sans-Italic.ttf'), url('/assets/fonts/googleSans/Product-Sans-Italic.otf');
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: Product-Sans;
    src: url('/assets/fonts/googleSans/Product-Sans-Bold-Italic.ttf'),url('/assets/fonts/googleSans/Product-Sans-Bold-Italic.otf') ;
    font-weight: bold;
    font-style: italic;
  }

body{
  font-family: Product-Sans;
  background-color: #f4f8ff;
}
.ec_main{
    min-height: 50vh;
    padding-top: 30px;
}
.ec__section{
  margin-bottom: 30px;
}
.ec__breadcrumb{
  margin-bottom: 20px;
  .bread-item{
    padding-top: 10px;
    padding-bottom: 10px;
    
  }
  .bread-space{
    margin-left: 5px;
    margin-right: 5px;
  }
}
.ec__icon{
  line-height: 0;
  margin-right: 5px;
}
button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px 15px
}
