.ec_header{
    background-color: #fff;

}
.ec_header_top{
    background:linear-gradient(90deg, #bf1e2e 20%, #af1b2a 60%, #bf1e2e 100%)
}
.flex_row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ec_header_top input{
    width: 100%;
}
.menu_items, 
.menu_child{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}