.promotion {
  :global {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
    margin-bottom: 30px;

    .ec__section {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @media screen and (max-width: 991px) {
      background-color: transparent;
      z-index: 99;
      margin-top: -100px;
      position: relative;
      padding-top: 0;
      margin-bottom: 15px;
      padding-bottom: 0;
      .ec__section {
        margin-bottom: 15px;
      }
    }
  }
}
