.page__404 {
  :global {
    text-align: center;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 20px;
    .page-inner {
      padding: 30px;
    }
    .icon-oops {
      width: 100%;
      max-width: 380px;
      svg {
        display: inline-block;
        width: 100%;
      }
    }
    .title {
      font-size: 120px;
      font-weight: bold;
      margin-bottom: 30px;
      color: #f1f1f1;
    }
    .number-404 {
      font-size: 40px;
      line-height: 60px;
    }
  }
}
