.ec__product{

 :global 
    .ec__product--container{
        display: flex;
        padding-top: 30px;
        
        .ec__product--sidebar{
            width: 280px;
            margin-right: 30px;
        }
        .ec__product--list{
        flex: 1;
        width: calc(100% - 310px);   
        }
        .ec__product--items .row .column{
            margin-bottom: 2rem;
        }
        .ec__product--tools{
            // padding: 10px 0;
            // margin-bottom: 20px;
            // .tool-inner{
            //     display: flex;
            //     align-items: center;
            //     >div{

            //         display: flex;
            //         align-items: center;
            //         justify-content: center;
            //     }
            //     .tool-sort {
            //         margin-left: auto;
            //     }
            //     .tool-sort  + .tool-sort {
            //         margin-left: 10px;
            //     }
            // }
            // .tool-filter{

            // }
        }
    }
  
}