.auth__wrapper{
    background-color:#fff;
    padding: 20px;
    border-radius: 15px;
    margin-top: 30px;
    display: flex;

    :global .auth--sidebar  {
        .auth-avt{
            text-align: center;
            margin-bottom: 30px;
            line-height: 2.2rem;
            .auth-avt-image{
                line-height: 0;
                margin-bottom: 10px;
                img{
                    border-radius: 50%;
                
                }
            }
        }
        .auth--menu{
            width: 220px;

    
            ul{
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    margin-bottom: 10px;

                    a{
                        display: block;
                        padding: 10px 15px;
                        color: #3c3c3c;
                        border-radius: 5px;
                        &:hover, &.active{
                            background-color: #f4f8ff;
                            
                        }
                    }
                }
            }
            .signout-btn{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                border: 1px solid #c83a3a;
                color: #c83a3a;
                border-radius: 5px;
            }
        }
    }
    :global .auth--body{
        width: calc(100% - 220px);
        padding-left: 20px;
        
        .row{
            display: flex;

            .label{
                font-weight: bold;
                width: 30%
            }
            .value{
                width: 70%;
            }
            .label, .value{
                padding: 10px;
                position: relative;
            }
        }
        .btn-action{
            padding: 10px;
            border-radius: 10px;
            color: #c83a3a;
            cursor: pointer;
            display: inline-block;
            svg{
                margin-right: 5px;
            }

            &.btn-update{
                background-color: red;
            }
        }
        .section-header{
            margin-bottom: 30px
        }
        .section-content{
            border: 1px soolid #f1f1f1;
            border-radius: 10px;
        }
        .page-actions {
            padding-top: 30px;
            button{
              
                font-weight: normal;
                min-width: 180px;
            }
            button + button{
                margin-left: 20px;
            }
        }
        .inner-section{
            .billing-address{
                margin-bottom: 30px;
            }
            .shipping-address, 
            .billing-address{
                border: 1px solid #f1f1f1;
                border-radius: 10px;
                padding: 20px;
                .section-header{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 15px;
                    .title{
                        margin-bottom: 0;
                    }
                }
            }
        }
        .order__detail--items{
            margin-bottom: 30px;
            .prd--items{
                display: table;
            }
            .header--items{
                display: table-row;
                width: 100%;
                .prd--name, 
                .prd--quality, 
                .prd--price{
                    display: table-cell;
                    padding: 5px 10px
                }
                .prd--name{
                   columns: 2;
                }
            }
            .line--item{
                display: table-row;
                width: 100%;
                > div{
                    display: table-cell;
                    padding: 5px 10px
                }
            }
        }
        .order__detail--shipping,
        .order__detail--billing{
            margin-bottom: 30px;
            .content{
                border: 1px solid #f1f1f1;
                border-radius: 5px;
                padding-top: 28px;
                margin-top: -28px;
                .row-content{
                    width: 100%;
                
                    display: flex;
                    flex-wrap: wrap;
                    .label{
                        width: 40%;
                        flex-basis: 40%;
                    }
                    .value{
                        width: 60%;
                        flex-basis: 60%;
                    }
                    .label, .value{
                        padding: 5px 10px;
                    }
                }
            }
            h4{
                background-color: #fff;
                display: inline-block;
                padding: 5px 10px;
                margin-left: 10px;
                font-size: 16px;
            }
        }
        .order__detail--billing{
            .content{
            
            }
        }
        .header-actions{
            .ec__button{
                background-color: transparent;
                border-color: transparent;
                font-weight: normal;
                height: auto;
                opacity: 0.6;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}